html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  max-width: 25em
}

p {
  font-size: 1em;
  width: 23em;
}

img {
  margin-top: 2em;
  margin-left: .6em;
  margin-right: .6em;
  margin-bottom: 2em;
  width: 100%
}

a:hover {
  background-color: ##333;
  color: #666
}

a {
  border-style: solid;
  display: inline-block;
  border-radius: .4em;
  text-decoration: none;
  border-color: #333;
  padding: .4em;
}
